.reading-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, var(--mat-sys-primary) 0%, var(--mat-sys-tertiary) 100%);
    z-index: 2000;
    transition: width 0.1s ease-out;
    pointer-events: none;
}