// Include theming for Angular Material with `mat.theme()`.
@use '@angular/material' as mat;

// Custom Partials
@use 'styles/scrollbars';
@use 'styles/code';
@use 'styles/spotlight';
@use 'styles/admonitions';

// PrismJS theme for syntax highlighting
@import 'prismjs/themes/prism-tomorrow.css';
@import 'prismjs/plugins/toolbar/prism-toolbar.css';

// Import JetBrains Mono font for code blocks
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables.
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;

  // Light theme by default
  color-scheme: light;
}

// Dark theme styles
html.dark body {
  color-scheme: dark;
}